/* styles.css */

#wombat-scene {
    position: relative;
    background-image: url('image_ab79e7.jpg'); 
    background-size: cover;
    width: 600px; 
    height: 600px; 
    margin: 20px auto;
    border: 1px solid #ccc; 
}

.gift-box {
    position: absolute;
    cursor: pointer; 
    border: 2px dashed rgba(255, 0, 0, 0.5); 
    z-index: 10;

}


#box1 {
    top: 75%;
    left: 41%;
    width: 50px;
    height: 50px;
}


#box2 {
    top: 74%;
    left: 62%;
    width: 50px;
    height: 50px;
}

#popup-display {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: white;
    border: 5px solid gold;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 100;
    display: none; 
    text-align: center;
}

#close-btn {
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
}